* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    height: 100vh;
    width: 100vw;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    background-color: hsl(216, 50%, 16%);
    width: 90%;
    height: 75%;
    max-width: 375px;
    max-height: 700px;
    min-height: 600px;
    border-radius: 1.75rem;
    display: grid;
    grid-template-rows: 55% 45%;
    row-gap: 1.5rem;
    padding: 1.75rem;
}

.eq-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.car-text{
    display: flex;
    flex-direction: column;
}





















.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}